//---------------------------------------------
//
//  Mixin: Google Fonts
//
//    1. Google's names for font files
//    2. Loading a single font
//    3. Loading multiple fonts
//
//---------------------------------------------

//---------------------------------------------
// 1. Google's names for font files
//---------------------------------------------

$fontWeightNames: (
  100: "Thin",
  200: "ExtraLight",
  300: "Light",
  400: "Regular",
  500: "Medium",
  600: "SemiBold",
  700: "Bold",
  800: "ExtraBold",
  900: "Black",
);

//---------------------------------------------
// 2. Loading a single font
//---------------------------------------------

@mixin googleFont($font) {
  $fontFamily: map-get($font, "name");
  $folderName: map-get($font, "folder");
  $fileName: map-get($font, "files");
  $weights: map-get($font, "weights");
  @each $weight in $weights {
    $weightName: map-get($fontWeightNames, $weight);
    @font-face {
      font-family: "#{$fontFamily}";
      font-weight: $weight;
      font-display: swap;
      src: url("../../assets/fonts/#{$folderName}/#{$fileName}-#{$weightName}.woff2")
        format("woff");
    }
  }
}

//---------------------------------------------
// 3. Loading multiple fonts
//---------------------------------------------

@mixin googleFonts($fonts) {
  @each $font in $fonts {
    @include googleFont($font);
  }
}

//---------------------------------------------
// 4. example of use
//---------------------------------------------
// @include googleFonts(
//   (
//     (
//       // nombre dela fuente font-family: Public Sans
//       "name": "PublicSans",
//       // nombre de la carpeta en fonts
//       "folder": "Public_Sans",
//       // nombre del archivo de la fuente PublicSans.ttf
//       "files": "PublicSans",
//       // pesos de la fuente
//       "weights": (400, 500, 600, 700)
//     ),
//     (
//       "name": "PublicSans",
//       "folder": "Public_Sans",
//       "files": "PublicSans",
//       "weights": (
//         400,
//         500,
//         600,
//         700,
//       )
//     )
//   )
// );
