.toolbar {
  // background: #fff;
  color: var(--color-text-menu);
  height: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbar-button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba(var(--color-bg-menu-hover-rbg), 0.08);
    backdrop-filter: blur(10px);
    color: var(--color-text-menu-hover);
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
  &.active {
    background-color: rgba(var(--color-bg-menu-hover-rbg), 0.08);
    backdrop-filter: blur(10px);
  }
}

.toolbar-menu {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
}

.logobar {
  flex: 0 0 auto;
  height: 100%;
  transition: width 0.3s ease;
}
