/* src/app/app.component.css */
.content {
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-top: 72px;
}

// sidebar
.sidebar {
  height: calc(100% - 72px);
  margin-top: 72px;
  background: var(--color-background);
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  transition: transform 0.3s ease, width 0.3s ease;
  border-right: 1px solid #f2f3f5;
  user-select: none;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar.collapsed {
  width: 120px;
  //   padding: 20px 10px;
}

.overlay-menu {
  margin-top: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 72px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 7;
}

// toolbar
.toolbar-box {
  background-color: rgba(var(--color-background-rgb), 0.3);
  backdrop-filter: blur(10px);
  color: var(--color-text-menu);
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.backgroundsvg {
  color: var(--color-primary);
  position: fixed;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 12;
  pointer-events: none;
}
// absolute pointer-events-none
