/* src/app/app.component.css */
.content {
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content.full-width {
  margin-left: 0;
}

.content:not(.full-width) {
  margin-left: 250px;
}

@media (max-width: 770px) {
  .content {
    margin-left: 0 !important;
  }
}

.content.collapsed {
  margin-left: 120px;
}
